In [1]:
import pandas as pd
import datetime

In [11]:
df1 = pd.read_csv("data/sample/sampleAccepted.csv")
df1 = df1.drop(columns=["Unnamed: 0", "member_id", "url"])
df1.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,134404767,20000.0,20000.0,20000.0,36 months,6.19,610.17,A,A2,Volkswagen Technician,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,39460023,5625.0,5625.0,5625.0,36 months,12.39,187.89,C,C1,Teacher,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,38202144,25000.0,25000.0,25000.0,36 months,6.49,766.12,A,A2,Business Development Coordinator,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,119997411,17000.0,17000.0,17000.0,36 months,9.44,544.09,B,B1,On site provider,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,17343169,16000.0,16000.0,15950.0,60 months,19.52,419.65,E,E2,supervisor,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
def formatTerm(line):
    line = line.strip()
    line = line.split(" ")
    if line[1] == "months":
        mult = 30

    return datetime.timedelta(days=int(line[0]) * mult)

df1["term"] = df1["term"].apply(formatTerm)

AttributeError: 'Timedelta' object has no attribute 'strip'

In [40]:
df1.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 149 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   id                                          10000 non-null  int64
 1   loan_amnt                                   10000 non-null  float64
 2   funded_amnt                                 10000 non-null  float64
 3   funded_amnt_inv                             10000 non-null  float64
 4   term                                        10000 non-null  timedelta64[ns]
 5   int_rate                                    10000 non-null  float64
 6   installment                                 10000 non-null  float64
 7   grade                                       10000 non-null  object
 8   sub_grade                                   10000 non-null  object
 9   emp_title                                   9242 non-null   object
 10  emp_length                                  9340 non-null   object
 11  home_ownership                              10000 non-null  object
 12  annual_inc                                  10000 non-null  float64
 13  verification_status                         10000 non-null  object
 14  issue_d                                     10000 non-null  object
 15  loan_status                                 10000 non-null  object
 16  pymnt_plan                                  10000 non-null  object
 17  desc                                        591 non-null    object
 18  purpose                                     10000 non-null  object
 19  title                                       9882 non-null   object
 20  zip_code                                    10000 non-null  object
 21  addr_state                                  10000 non-null  object
 22  dti                                         9991 non-null   float64
 23  delinq_2yrs                                 10000 non-null  float64
 24  earliest_cr_line                            10000 non-null  object
 25  fico_range_low                              10000 non-null  float64
 26  fico_range_high                             10000 non-null  float64
 27  inq_last_6mths                              10000 non-null  float64
 28  mths_since_last_delinq                      4893 non-null   float64
 29  mths_since_last_record                      1621 non-null   float64
 30  open_acc                                    10000 non-null  float64
 31  pub_rec                                     10000 non-null  float64
 32  revol_bal                                   10000 non-null  float64
 33  revol_util                                  9991 non-null   float64
 34  total_acc                                   10000 non-null  float64
 35  initial_list_status                         10000 non-null  object
 36  out_prncp                                   10000 non-null  float64
 37  out_prncp_inv                               10000 non-null  float64
 38  total_pymnt                                 10000 non-null  float64
 39  total_pymnt_inv                             10000 non-null  float64
 40  total_rec_prncp                             10000 non-null  float64
 41  total_rec_int                               10000 non-null  float64
 42  total_rec_late_fee                          10000 non-null  float64
 43  recoveries                                  10000 non-null  float64
 44  collection_recovery_fee                     10000 non-null  float64
 45  last_pymnt_d                                9993 non-null   object
 46  last_pymnt_amnt                             10000 non-null  float64
 47  next_pymnt_d                                4014 non-null   object
 48  last_credit_pull_d                          10000 non-null  object
 49  last_fico_range_high                        10000 non-null  float64
 50  last_fico_range_low                         10000 non-null  float64
 51  collections_12_mths_ex_med                  10000 non-null  float64
 52  mths_since_last_major_derog                 2580 non-null   float64
 53  policy_code                                 10000 non-null  float64
 54  application_type                            10000 non-null  object
 55  annual_inc_joint                            508 non-null    float64
 56  dti_joint                                   508 non-null    float64
 57  verification_status_joint                   491 non-null    object
 58  acc_now_delinq                              10000 non-null  float64
 59  tot_coll_amt                                9694 non-null   float64
 60  tot_cur_bal                                 9694 non-null   float64
 61  open_acc_6m                                 6149 non-null   float64
 62  open_act_il                                 6149 non-null   float64
 63  open_il_12m                                 6149 non-null   float64
 64  open_il_24m                                 6149 non-null   float64
 65  mths_since_rcnt_il                          5964 non-null   float64
 66  total_bal_il                                6149 non-null   float64
 67  il_util                                     5245 non-null   float64
 68  open_rv_12m                                 6149 non-null   float64
 69  open_rv_24m                                 6149 non-null   float64
 70  max_bal_bc                                  6149 non-null   float64
 71  all_util                                    6148 non-null   float64
 72  total_rev_hi_lim                            9694 non-null   float64
 73  inq_fi                                      6149 non-null   float64
 74  total_cu_tl                                 6149 non-null   float64
 75  inq_last_12m                                6149 non-null   float64
 76  acc_open_past_24mths                        9766 non-null   float64
 77  avg_cur_bal                                 9693 non-null   float64
 78  bc_open_to_buy                              9652 non-null   float64
 79  bc_util                                     9650 non-null   float64
 80  chargeoff_within_12_mths                    10000 non-null  float64
 81  delinq_amnt                                 10000 non-null  float64
 82  mo_sin_old_il_acct                          9408 non-null   float64
 83  mo_sin_old_rev_tl_op                        9694 non-null   float64
 84  mo_sin_rcnt_rev_tl_op                       9694 non-null   float64
 85  mo_sin_rcnt_tl                              9694 non-null   float64
 86  mort_acc                                    9766 non-null   float64
 87  mths_since_recent_bc                        9658 non-null   float64
 88  mths_since_recent_bc_dlq                    2273 non-null   float64
 89  mths_since_recent_inq                       8735 non-null   float64
 90  mths_since_recent_revol_delinq              3242 non-null   float64
 91  num_accts_ever_120_pd                       9694 non-null   float64
 92  num_actv_bc_tl                              9694 non-null   float64
 93  num_actv_rev_tl                             9694 non-null   float64
 94  num_bc_sats                                 9741 non-null   float64
 95  num_bc_tl                                   9694 non-null   float64
 96  num_il_tl                                   9694 non-null   float64
 97  num_op_rev_tl                               9694 non-null   float64
 98  num_rev_accts                               9694 non-null   float64
 99  num_rev_tl_bal_gt_0                         9694 non-null   float64
 100 num_sats                                    9741 non-null   float64
 101 num_tl_120dpd_2m                            9370 non-null   float64
 102 num_tl_30dpd                                9694 non-null   float64
 103 num_tl_90g_dpd_24m                          9694 non-null   float64
 104 num_tl_op_past_12m                          9694 non-null   float64
 105 pct_tl_nvr_dlq                              9694 non-null   float64
 106 percent_bc_gt_75                            9650 non-null   float64
 107 pub_rec_bankruptcies                        9992 non-null   float64
 108 tax_liens                                   10000 non-null  float64
 109 tot_hi_cred_lim                             9694 non-null   float64
 110 total_bal_ex_mort                           9766 non-null   float64
 111 total_bc_limit                              9766 non-null   float64
 112 total_il_high_credit_limit                  9694 non-null   float64
 113 revol_bal_joint                             442 non-null    float64
 114 sec_app_fico_range_low                      442 non-null    float64
 115 sec_app_fico_range_high                     442 non-null    float64
 116 sec_app_earliest_cr_line                    442 non-null    object
 117 sec_app_inq_last_6mths                      442 non-null    float64
 118 sec_app_mort_acc                            442 non-null    float64
 119 sec_app_open_acc                            442 non-null    float64
 120 sec_app_revol_util                          438 non-null    float64
 121 sec_app_open_act_il                         442 non-null    float64
 122 sec_app_num_rev_accts                       442 non-null    float64
 123 sec_app_chargeoff_within_12_mths            442 non-null    float64
 124 sec_app_collections_12_mths_ex_med          442 non-null    float64
 125 sec_app_mths_since_last_major_derog         148 non-null    float64
 126 hardship_flag                               10000 non-null  object
 127 hardship_type                               45 non-null     object
 128 hardship_reason                             45 non-null     object
 129 hardship_status                             45 non-null     object
 130 deferral_term                               45 non-null     float64
 131 hardship_amount                             45 non-null     float64
 132 hardship_start_date                         45 non-null     object
 133 hardship_end_date                           45 non-null     object
 134 payment_plan_start_date                     45 non-null     object
 135 hardship_length                             45 non-null     float64
 136 hardship_dpd                                45 non-null     float64
 137 hardship_loan_status                        45 non-null     object
 138 orig_projected_additional_accrued_interest  37 non-null     float64
 139 hardship_payoff_balance_amount              45 non-null     float64
 140 hardship_last_payment_amount                45 non-null     float64
 141 disbursement_method                         10000 non-null  object
 142 debt_settlement_flag                        10000 non-null  object
 143 debt_settlement_flag_date                   159 non-null    object
 144 settlement_status                           159 non-null    object
 145 settlement_date                             159 non-null    object
 146 settlement_amount                           159 non-null    float64
 147 settlement_percentage                       159 non-null    float64
 148 settlement_term                             159 non-null    float64
dtypes: float64(112), int64(1), object(35), timedelta64[ns](1)
memory usage: 11.4+ MB

In [35]:
df1.iloc[:, :50].head().T

,0,1,2,3,4
id,134404767,39460023,38202144,119997411,17343169
loan_amnt,20000,5625,25000,17000,16000
funded_amnt,20000,5625,25000,17000,16000
funded_amnt_inv,20000,5625,25000,17000,15950
term,1080 days 00:00:00,1080 days 00:00:00,1080 days 00:00:00,1080 days 00:00:00,1800 days 00:00:00
int_rate,6.19,12.39,6.49,9.44,19.52
installment,610.17,187.89,766.12,544.09,419.65
grade,A,C,A,B,E
sub_grade,A2,C1,A2,B1,E2
emp_title,Volkswagen Technician,Teacher,Business Development Coordinator,On site provider,supervisor
emp_length,7 years,3 years,4 years,5 years,10+ years
home_ownership,MORTGAGE,RENT,RENT,RENT,OWN
annual_inc,90000,44000,91000,61000,55000
verification_status,Not Verified,Not Verified,Source Verified,Not Verified,Verified
issue_d,Jun-2018,Jan-2015,Jan-2015,Sep-2017,May-2014
loan_status,Current,Fully Paid,Fully Paid,Current,Fully Paid
pymnt_plan,n,n,n,n,n
desc,NaN,NaN,NaN,NaN,NaN
purpose,debt_consolidation,debt_consolidation,credit_card,debt_consolidation,debt_consolidation
title,Debt consolidation,Debt consolidation,Credit card refinancing,Debt consolidation,Debt consolidation
zip_code,530xx,287xx,606xx,114xx,726xx
addr_state,WI,NC,IL,NY,AR
dti,18.39,23.65,12.22,5.76,23.57
delinq_2yrs,0,0,0,0,0
earliest_cr_line,Aug-2001,Jul-1987,Sep-2000,Dec-2010,Jan-1996
fico_range_low,755,730,735,740,670
fico_range_high,759,734,739,744,674
inq_last_6mths,0,1,1,1,1
mths_since_last_delinq,NaN,28,44,NaN,42
mths_since_last_record,NaN,24,NaN,NaN,NaN
open_acc,10,13,8,14,7
pub_rec,0,1,0,0,0
revol_bal,16626,29458,21567,7230,23248
revol_util,33.5,44.9,33,13.5,96.9
total_acc,29,34,33,18,23
initial_list_status,w,w,f,w,f
out_prncp,14810.6,0,0,9098.33,0
out_prncp_inv,14810.6,0,0,9098.33,0
total_pymnt,6067.31,6299.17,27139.2,9775.79,24513.6
total_pymnt_inv,6067.31,6299.17,27139.2,9775.79,24437
total_rec_prncp,5189.36,5625,25000,7901.67,16000
total_rec_int,877.95,674.17,2139.18,1874.12,8513.56
total_rec_late_fee,0,0,0,0,0
recoveries,0,0,0,0,0
collection_recovery_fee,0,0,0,0,0
last_pymnt_d,Mar-2019,Feb-2016,Oct-2016,Mar-2019,Mar-2018
last_pymnt_amnt,610.17,4048.36,11834.8,544.09,6048.96
next_pymnt_d,Apr-2019,NaN,NaN,Apr-2019,NaN
last_credit_pull_d,Mar-2019,Mar-2019,Oct-2016,Mar-2019,Mar-2018
last_fico_range_high,794,604,774,609,664