In [16]:
import pandas as pd
import datetime

from sklearn.linear_model import Lasso

In [17]:
df1 = pd.read_csv("data/sample/sampleAccepted.csv")
df1 = df1.drop(columns=["member_id", "url"])
df1.head().T

,0,1,2,3,4
id,145181203,102630556,135925949,59212770,74554116
loan_amnt,9100,8000,25000,7500,12000
funded_amnt,9100,8000,25000,7500,12000
funded_amnt_inv,9100,8000,25000,7500,12000
term,36 months,36 months,36 months,36 months,36 months
...,...,...,...,...,...
settlement_status,NaN,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN,NaN

In [18]:
def formatTerm(line):
    line = line.strip()
    line = line.split(" ")

    if line[-1] == "months":
        line = int(line[0]) * 30
    
    else:
        raise NotImplementedError(f"{line[-1]} não implementado ainda")

    return line

df1["term"] = df1["term"].apply(formatTerm)
df1.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,145181203,9100.0,9100.0,9100.0,1080,26.31,368.15,E,E4,Rural carrier,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,102630556,8000.0,8000.0,8000.0,1080,16.99,285.19,D,D1,Gas Turbine Mechanic,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,135925949,25000.0,25000.0,25000.0,1080,8.08,784.34,A,A5,HR Business Partner,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
3,59212770,7500.0,7500.0,7500.0,1080,7.89,234.65,A,A5,manager,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,74554116,12000.0,12000.0,12000.0,1080,8.39,378.20,B,B1,Pharmacy Technician,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df1.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 149 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   id                                          10000 non-null  int64
 1   loan_amnt                                   10000 non-null  float64
 2   funded_amnt                                 10000 non-null  float64
 3   funded_amnt_inv                             10000 non-null  float64
 4   term                                        10000 non-null  int64
 5   int_rate                                    10000 non-null  float64
 6   installment                                 10000 non-null  float64
 7   grade                                       10000 non-null  object
 8   sub_grade                                   10000 non-null  object
 9   emp_title                                   9257 non-null   object
 10  emp_length                                  9363 non-null   object
 11  home_ownership                              10000 non-null  object
 12  annual_inc                                  10000 non-null  float64
 13  verification_status                         10000 non-null  object
 14  issue_d                                     10000 non-null  object
 15  loan_status                                 10000 non-null  object
 16  pymnt_plan                                  10000 non-null  object
 17  desc                                        546 non-null    object
 18  purpose                                     10000 non-null  object
 19  title                                       9895 non-null   object
 20  zip_code                                    10000 non-null  object
 21  addr_state                                  10000 non-null  object
 22  dti                                         9995 non-null   float64
 23  delinq_2yrs                                 10000 non-null  float64
 24  earliest_cr_line                            10000 non-null  object
 25  fico_range_low                              10000 non-null  float64
 26  fico_range_high                             10000 non-null  float64
 27  inq_last_6mths                              10000 non-null  float64
 28  mths_since_last_delinq                      4907 non-null   float64
 29  mths_since_last_record                      1561 non-null   float64
 30  open_acc                                    10000 non-null  float64
 31  pub_rec                                     10000 non-null  float64
 32  revol_bal                                   10000 non-null  float64
 33  revol_util                                  9996 non-null   float64
 34  total_acc                                   10000 non-null  float64
 35  initial_list_status                         10000 non-null  object
 36  out_prncp                                   10000 non-null  float64
 37  out_prncp_inv                               10000 non-null  float64
 38  total_pymnt                                 10000 non-null  float64
 39  total_pymnt_inv                             10000 non-null  float64
 40  total_rec_prncp                             10000 non-null  float64
 41  total_rec_int                               10000 non-null  float64
 42  total_rec_late_fee                          10000 non-null  float64
 43  recoveries                                  10000 non-null  float64
 44  collection_recovery_fee                     10000 non-null  float64
 45  last_pymnt_d                                9989 non-null   object
 46  last_pymnt_amnt                             10000 non-null  float64
 47  next_pymnt_d                                4078 non-null   object
 48  last_credit_pull_d                          10000 non-null  object
 49  last_fico_range_high                        10000 non-null  float64
 50  last_fico_range_low                         10000 non-null  float64
 51  collections_12_mths_ex_med                  10000 non-null  float64
 52  mths_since_last_major_derog                 2590 non-null   float64
 53  policy_code                                 10000 non-null  float64
 54  application_type                            10000 non-null  object
 55  annual_inc_joint                            529 non-null    float64
 56  dti_joint                                   529 non-null    float64
 57  verification_status_joint                   507 non-null    object
 58  acc_now_delinq                              10000 non-null  float64
 59  tot_coll_amt                                9678 non-null   float64
 60  tot_cur_bal                                 9678 non-null   float64
 61  open_acc_6m                                 6118 non-null   float64
 62  open_act_il                                 6118 non-null   float64
 63  open_il_12m                                 6118 non-null   float64
 64  open_il_24m                                 6118 non-null   float64
 65  mths_since_rcnt_il                          5949 non-null   float64
 66  total_bal_il                                6118 non-null   float64
 67  il_util                                     5238 non-null   float64
 68  open_rv_12m                                 6118 non-null   float64
 69  open_rv_24m                                 6118 non-null   float64
 70  max_bal_bc                                  6118 non-null   float64
 71  all_util                                    6118 non-null   float64
 72  total_rev_hi_lim                            9678 non-null   float64
 73  inq_fi                                      6118 non-null   float64
 74  total_cu_tl                                 6118 non-null   float64
 75  inq_last_12m                                6118 non-null   float64
 76  acc_open_past_24mths                        9766 non-null   float64
 77  avg_cur_bal                                 9678 non-null   float64
 78  bc_open_to_buy                              9676 non-null   float64
 79  bc_util                                     9674 non-null   float64
 80  chargeoff_within_12_mths                    10000 non-null  float64
 81  delinq_amnt                                 10000 non-null  float64
 82  mo_sin_old_il_acct                          9407 non-null   float64
 83  mo_sin_old_rev_tl_op                        9678 non-null   float64
 84  mo_sin_rcnt_rev_tl_op                       9678 non-null   float64
 85  mo_sin_rcnt_tl                              9678 non-null   float64
 86  mort_acc                                    9766 non-null   float64
 87  mths_since_recent_bc                        9678 non-null   float64
 88  mths_since_recent_bc_dlq                    2320 non-null   float64
 89  mths_since_recent_inq                       8732 non-null   float64
 90  mths_since_recent_revol_delinq              3293 non-null   float64
 91  num_accts_ever_120_pd                       9678 non-null   float64
 92  num_actv_bc_tl                              9678 non-null   float64
 93  num_actv_rev_tl                             9678 non-null   float64
 94  num_bc_sats                                 9724 non-null   float64
 95  num_bc_tl                                   9678 non-null   float64
 96  num_il_tl                                   9678 non-null   float64
 97  num_op_rev_tl                               9678 non-null   float64
 98  num_rev_accts                               9678 non-null   float64
 99  num_rev_tl_bal_gt_0                         9678 non-null   float64
 100 num_sats                                    9724 non-null   float64
 101 num_tl_120dpd_2m                            9321 non-null   float64
 102 num_tl_30dpd                                9678 non-null   float64
 103 num_tl_90g_dpd_24m                          9678 non-null   float64
 104 num_tl_op_past_12m                          9678 non-null   float64
 105 pct_tl_nvr_dlq                              9677 non-null   float64
 106 percent_bc_gt_75                            9674 non-null   float64
 107 pub_rec_bankruptcies                        9994 non-null   float64
 108 tax_liens                                   10000 non-null  float64
 109 tot_hi_cred_lim                             9678 non-null   float64
 110 total_bal_ex_mort                           9766 non-null   float64
 111 total_bc_limit                              9766 non-null   float64
 112 total_il_high_credit_limit                  9678 non-null   float64
 113 revol_bal_joint                             479 non-null    float64
 114 sec_app_fico_range_low                      479 non-null    float64
 115 sec_app_fico_range_high                     479 non-null    float64
 116 sec_app_earliest_cr_line                    479 non-null    object
 117 sec_app_inq_last_6mths                      479 non-null    float64
 118 sec_app_mort_acc                            479 non-null    float64
 119 sec_app_open_acc                            479 non-null    float64
 120 sec_app_revol_util                          469 non-null    float64
 121 sec_app_open_act_il                         479 non-null    float64
 122 sec_app_num_rev_accts                       479 non-null    float64
 123 sec_app_chargeoff_within_12_mths            479 non-null    float64
 124 sec_app_collections_12_mths_ex_med          479 non-null    float64
 125 sec_app_mths_since_last_major_derog         154 non-null    float64
 126 hardship_flag                               10000 non-null  object
 127 hardship_type                               50 non-null     object
 128 hardship_reason                             50 non-null     object
 129 hardship_status                             50 non-null     object
 130 deferral_term                               50 non-null     float64
 131 hardship_amount                             50 non-null     float64
 132 hardship_start_date                         50 non-null     object
 133 hardship_end_date                           50 non-null     object
 134 payment_plan_start_date                     50 non-null     object
 135 hardship_length                             50 non-null     float64
 136 hardship_dpd                                50 non-null     float64
 137 hardship_loan_status                        50 non-null     object
 138 orig_projected_additional_accrued_interest  39 non-null     float64
 139 hardship_payoff_balance_amount              50 non-null     float64
 140 hardship_last_payment_amount                50 non-null     float64
 141 disbursement_method                         10000 non-null  object
 142 debt_settlement_flag                        10000 non-null  object
 143 debt_settlement_flag_date                   147 non-null    object
 144 settlement_status                           147 non-null    object
 145 settlement_date                             147 non-null    object
 146 settlement_amount                           147 non-null    float64
 147 settlement_percentage                       147 non-null    float64
 148 settlement_term                             147 non-null    float64
dtypes: float64(112), int64(2), object(35)
memory usage: 11.4+ MB

In [20]:
df1.iloc[:5, 10:20]

,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,desc,purpose,title
0,3 years,OWN,62000.0,Verified,Dec-2018,Late (31-120 days),n,NaN,other,Other
1,8 years,RENT,69000.0,Verified,Mar-2017,Charged Off,n,NaN,debt_consolidation,Debt consolidation
2,2 years,RENT,102000.0,Verified,Jul-2018,Current,n,NaN,credit_card,Credit card refinancing
3,10+ years,MORTGAGE,33000.0,Not Verified,Sep-2015,Fully Paid,n,NaN,debt_consolidation,Debt consolidation
4,10+ years,RENT,32201.0,Not Verified,Mar-2016,Fully Paid,n,NaN,debt_consolidation,Debt consolidation

In [21]:
target = df1["grade"]
target.unique()

array(['E', 'D', 'A', 'B', 'C', 'F', 'G'], dtype=object)

In [22]:
df1 = df1.join(pd.get_dummies(df1["home_ownership"]))
df1 = df1.drop(columns=["home_ownership", "OWN"])
df1

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,ANY,MORTGAGE,NONE,OTHER,RENT
0,145181203,9100.0,9100.0,9100.0,1080,26.31,368.15,E,E4,Rural carrier,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0
1,102630556,8000.0,8000.0,8000.0,1080,16.99,285.19,D,D1,Gas Turbine Mechanic,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1
2,135925949,25000.0,25000.0,25000.0,1080,8.08,784.34,A,A5,HR Business Partner,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1
3,59212770,7500.0,7500.0,7500.0,1080,7.89,234.65,A,A5,manager,...,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0
4,74554116,12000.0,12000.0,12000.0,1080,8.39,378.20,B,B1,Pharmacy Technician,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,137815471,10000.0,10000.0,10000.0,1080,23.40,389.19,E,E1,Service Manager,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1
9996,5524600,9500.0,9500.0,9500.0,1080,15.80,333.06,C,C3,BLUWORLD,...,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0
9997,7677306,6000.0,6000.0,6000.0,1080,9.99,193.58,B,B1,supervisor,...,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0
9998,59251152,6125.0,6125.0,6125.0,1080,16.99,218.35,D,D3,Porter,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1
9999,41750392,7500.0,7500.0,7500.0,1080,10.99,245.51,B,B4,Rating Specialist,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1

In [23]:
df1.columns

Index(['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title',
       ...
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term', 'ANY', 'MORTGAGE', 'NONE',
       'OTHER', 'RENT'],
      dtype='object', length=153)