In [2]:
import pandas as pd

In [3]:
URL = "https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=USACPIALLMINMEI&scale=left&cosd=1960-01-01&coed=2021-04-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Monthly&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date=2021-07-04&revision_date=2021-07-04&nd=1960-01-01"

In [18]:
df = pd.read_csv(URL, names=["date", "cpi"], skiprows=1)
df["date"] = pd.to_datetime(df["date"])
df["cpi"] = df["cpi"].pct_change() * 100
df = df.query("date >= '2000-01-01'")
df.head(12)

          date       cpi
480 2000-01-01  0.297089
481 2000-02-01  0.592417
482 2000-03-01  0.824499
483 2000-04-01  0.058411
484 2000-05-01  0.116754
485 2000-06-01  0.524781
486 2000-07-01  0.232019
487 2000-08-01  0.000000
488 2000-09-01  0.520833
489 2000-10-01  0.172712
490 2000-11-01  0.057471
491 2000-12-01 -0.057438