In [1]:
import pandas as pd

In [2]:
URL = "https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=FEDFUNDS&scale=left&cosd=1954-07-01&coed=2021-06-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Monthly&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date=2021-07-04&revision_date=2021-07-04&nd=1954-07-01"

In [3]:
def getIntRate(url=URL):
    df = pd.read_csv(URL, names=["date", "BasicIntRate"], skiprows=1)
    df["date"] = pd.to_datetime(df["date"])
    return df.query("date > '2000-01-01'")

In [4]:
getIntRate()

          date  BasicIntRate
547 2000-02-01          5.73
548 2000-03-01          5.85
549 2000-04-01          6.02
550 2000-05-01          6.27
551 2000-06-01          6.53
..         ...           ...
799 2021-02-01          0.08
800 2021-03-01          0.07
801 2021-04-01          0.07
802 2021-05-01          0.06
803 2021-06-01          0.08

[257 rows x 2 columns]