In [1]:
from sklearn.linear_model import LogisticRegression

from cleanData import cleanData

In [2]:
df = cleanData()
df = df.dropna()
df

,int_rate,grade,chargedOff,paid,late,current,prob,term,annual_inc,annual_inc_joint,...,NeutralPurpose,GoodPurpose,cpi,intRate,recent,multiplasContas,bad_rec,almostBroken,chargeOff,overDue
0,26.31,5.0,0,0,1,0,1,3.0,62000.0,0.0,...,1,0,1.910159,2.27,0,1.0,0,0.0,0,0.0
1,16.99,4.0,1,0,0,0,1,3.0,20000.0,115000.0,...,0,0,1.910159,2.27,0,1.0,1,0.0,0,1.0
2,8.08,1.0,0,0,0,1,0,3.0,110000.0,0.0,...,0,0,1.910159,2.27,0,1.0,0,1.0,0,1.0
3,7.89,1.0,0,1,0,0,0,3.0,40000.0,0.0,...,1,0,1.910159,2.27,0,1.0,0,1.0,0,1.0
4,8.39,2.0,0,1,0,0,0,3.0,79950.0,0.0,...,0,0,1.910159,2.27,0,0.0,0,1.0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8882,7.89,1.0,0,1,0,0,0,3.0,55000.0,0.0,...,0,0,2.211795,1.42,0,0.0,0,1.0,0,0.0
8883,25.34,5.0,0,0,0,1,0,3.0,400000.0,0.0,...,0,0,2.211795,1.42,0,0.0,1,1.0,0,0.0
8884,8.90,1.0,0,1,0,0,0,3.0,164000.0,176000.0,...,0,0,2.211795,1.42,0,1.0,0,1.0,0,0.0
8885,16.14,3.0,0,0,0,1,0,5.0,62400.0,0.0,...,0,0,2.211795,1.42,0,0.0,1,1.0,0,0.0
8887,17.86,4.0,1,0,0,0,1,5.0,89000.0,0.0,...,0,0,2.211795,1.42,0,1.0,0,1.0,0,0.0

In [3]:
tarNames = ["int_rate", "grade", "chargedOff", "paid", "late", "current", "prob"]
target = df[tarNames]
target.head()

   int_rate  grade  chargedOff  paid  late  current  prob
0     26.31    5.0           0     0     1        0     1
1     16.99    4.0           1     0     0        0     1
2      8.08    1.0           0     0     0        1     0
3      7.89    1.0           0     1     0        0     0
4      8.39    2.0           0     1     0        0     0

In [4]:
features = df.drop(columns=tarNames)
features.head()

,term,annual_inc,annual_inc_joint,long_job,dti,delinq,ANY,MORTGAGE,NONE,OTHER,...,NeutralPurpose,GoodPurpose,cpi,intRate,recent,multiplasContas,bad_rec,almostBroken,chargeOff,overDue
0,3.0,62000.0,0.0,1,13.38,0,0,0,0,0,...,1,0,1.910159,2.27,0,1.0,0,0.0,0,0.0
1,3.0,20000.0,115000.0,0,46.88,1,0,1,0,0,...,0,0,1.910159,2.27,0,1.0,1,0.0,0,1.0
2,3.0,110000.0,0.0,0,10.32,0,0,1,0,0,...,0,0,1.910159,2.27,0,1.0,0,1.0,0,1.0
3,3.0,40000.0,0.0,1,27.15,0,0,0,0,0,...,1,0,1.910159,2.27,0,1.0,0,1.0,0,1.0
4,3.0,79950.0,0.0,1,22.55,1,0,0,0,0,...,0,0,1.910159,2.27,0,0.0,0,1.0,0,1.0

# SeparaÃ§Ã£o de dados de treino e de teste

In [5]:
from sklearn.model_selection import train_test_split


x_train, x_test, y_train, y_test = train_test_split(features, target)

# Modelos

## Taxa de Juros

Como a taxa de juros Ã© uma variÃ¡vel contÃ­nua, entÃ£o dos modelos que aprendemos o mais apropriado Ã© RegresÃ£o Linear, LASSO,  Ridge ou uma Random Forest Regression

**RegressÃ£o Linear**

In [14]:
from sklearn.linear_model import LinearRegression

linRegIntRate = LinearRegression()
linRegIntRate.fit(x_train, y_train["int_rate"])
y_pred = linRegIntRate.pred(x_test)

LinearRegression()

In [7]:
from sklearn.linear_model import LogisticRegression

In [12]:
logregIntRate = LogisticRegression()
logregIntRate.fit(x_train, y_train["int_rate"])

ValueError: Unknown label type: 'continuous'