In [1]:
import pandas as pd

from cleanData import cleanData

In [2]:
df = cleanData()
df = df.dropna()
df

,int_rate,grade,chargedOff,paid,late,current,prob,term,annual_inc,annual_inc_joint,...,OTHER,RENT,BadPurpose,GoodPurpose,BasicIntRate,recent,bad_rec,almostBroken,chargeOff,overDue
0,26.31,5.0,0,0,1,0,1,3.0,62000.0,0.0,...,0,0,0,0,2.27,0,0,0.0,0,0.0
1,16.99,4.0,1,0,0,0,1,3.0,20000.0,115000.0,...,0,0,1,0,2.27,0,1,0.0,0,1.0
2,8.08,1.0,0,0,0,1,0,3.0,110000.0,0.0,...,0,0,1,0,2.27,0,0,1.0,0,1.0
3,7.89,1.0,0,1,0,0,0,3.0,40000.0,0.0,...,0,1,0,0,2.27,0,0,1.0,0,1.0
4,8.39,2.0,0,1,0,0,0,3.0,79950.0,0.0,...,0,1,1,0,2.27,0,0,1.0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9953,11.47,2.0,0,0,0,1,0,3.0,47000.0,0.0,...,0,0,1,0,0.15,0,0,1.0,0,0.0
9954,15.99,3.0,0,1,0,0,0,3.0,52000.0,0.0,...,0,1,1,0,0.15,0,0,1.0,0,0.0
9955,13.11,2.0,0,1,0,0,0,3.0,83600.0,0.0,...,0,0,1,0,0.15,0,0,0.0,0,1.0
9956,7.62,1.0,0,1,0,0,0,3.0,71718.0,0.0,...,0,0,1,0,0.15,0,0,1.0,0,1.0
9957,11.47,2.0,0,0,0,1,0,5.0,100000.0,0.0,...,0,0,1,0,0.15,0,0,1.0,0,0.0

In [3]:
tarNames = ["int_rate", "grade", "chargedOff", "paid", "late", "current", "prob"]
target = df[tarNames]
target.head()

   int_rate  grade  chargedOff  paid  late  current  prob
0     26.31    5.0           0     0     1        0     1
1     16.99    4.0           1     0     0        0     1
2      8.08    1.0           0     0     0        1     0
3      7.89    1.0           0     1     0        0     0
4      8.39    2.0           0     1     0        0     0

In [4]:
features = df.drop(columns=tarNames)
features.head()

,term,annual_inc,annual_inc_joint,long_job,dti,delinq,ANY,MORTGAGE,NONE,OTHER,RENT,BadPurpose,GoodPurpose,BasicIntRate,recent,bad_rec,almostBroken,chargeOff,overDue
0,3.0,62000.0,0.0,1,13.38,0,0,0,0,0,0,0,0,2.27,0,0,0.0,0,0.0
1,3.0,20000.0,115000.0,0,46.88,1,0,1,0,0,0,1,0,2.27,0,1,0.0,0,1.0
2,3.0,110000.0,0.0,0,10.32,0,0,1,0,0,0,1,0,2.27,0,0,1.0,0,1.0
3,3.0,40000.0,0.0,1,27.15,0,0,0,0,0,1,0,0,2.27,0,0,1.0,0,1.0
4,3.0,79950.0,0.0,1,22.55,1,0,0,0,0,1,1,0,2.27,0,0,1.0,0,1.0

# SeparaÃ§Ã£o de dados de treino e de teste

,term,annual_inc,annual_inc_joint,long_job,dti,delinq,ANY,MORTGAGE,NONE,OTHER,RENT,BadPurpose,GoodPurpose,BasicIntRate,recent,bad_rec,almostBroken,chargeOff,overDue,const
0,3.0,62000.0,0.0,1,13.38,0,0,0,0,0,0,0,0,2.27,0,0,0.0,0,0.0,1.0
1,3.0,20000.0,115000.0,0,46.88,1,0,1,0,0,0,1,0,2.27,0,1,0.0,0,1.0,1.0
2,3.0,110000.0,0.0,0,10.32,0,0,1,0,0,0,1,0,2.27,0,0,1.0,0,1.0,1.0
3,3.0,40000.0,0.0,1,27.15,0,0,0,0,0,1,0,0,2.27,0,0,1.0,0,1.0,1.0
4,3.0,79950.0,0.0,1,22.55,1,0,0,0,0,1,1,0,2.27,0,0,1.0,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9953,3.0,47000.0,0.0,1,31.43,0,0,1,0,0,0,1,0,0.15,0,0,1.0,0,0.0,NaN
9954,3.0,52000.0,0.0,1,26.28,0,0,0,0,0,1,1,0,0.15,0,0,1.0,0,0.0,NaN
9955,3.0,83600.0,0.0,1,18.32,0,0,1,0,0,0,1,0,0.15,0,0,0.0,0,1.0,NaN
9956,3.0,71718.0,0.0,1,21.45,0,0,1,0,0,0,1,0,0.15,0,0,1.0,0,1.0,NaN
9957,5.0,100000.0,0.0,1,27.78,0,0,1,0,0,0,1,0,0.15,0,0,1.0,0,0.0,NaN

In [55]:
from sklearn.model_selection import train_test_split

const = pd.Series([1] * len(features), name="const", index=features.index)
x = features.join(const)

x_train, x_test, y_train, y_test = train_test_split(x, target)

# Modelos

# Taxa de Juros

Como a taxa de juros Ã© uma variÃ¡vel contÃ­nua, entÃ£o dos modelos que aprendemos o mais apropriado Ã© RegresÃ£o Linear, LASSO ou uma Random Forest Regression.

## RegressÃ£o Linear

In [87]:
from statsmodels.regression.linear_model import OLS

linRegIntRate = OLS(y_train["int_rate"], x_train)
linRegIntRate = linRegIntRate.fit()
linRegIntRate.rsquared

0.002728005594211047

## Random Forest Regression

In [83]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

RDIntRate = RandomForestRegressor().fit(x_train, linReg.predict(x_train))
y_pred = RDIntRate.predict(x_test)
r2_score(y_test["int_rate"], y_pred)

-0.0028590652302222797

## Lasso

In [89]:
from sklearn.linear_model import Lasso

LassoIntRate = Lasso().fit(x_train, linReg.predict(x_train))
y_pred = LassoIntRate.predict(x_test)
r2_score(y_test["int_rate"], y_pred)

0.00022715316172150501

# Grade